:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-size: 1.1em;
  --bg-color: #1e1e1e;
  --text-color: #f0f0f0;
  --accent-color: #858bff;
  --card-bg: #2c2c2c;
  --border-radius: 10px;
  --transition: all 0.3s ease;
}


body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: var(--transition);
}

#app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vh;
  padding: 20px;
}


header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: var(--accent-color);
}

header .subtitle {
  font-size: 1em;
  color: #a0a0a0;
}

.nav {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.nav a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--text-color);
  border-radius: var(--border-radius);
  background-color: var(--card-bg);
  transition: var(--transition);
}

.nav a:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.router-link-active {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  flex-grow: 1;
}

.card {
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  padding: 20px;
  transition: var(--transition);
}

.main-content {
  flex: 1;
}

footer {
  min-height: 50px;
  text-align: center;
  color: #a0a0a0;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }

  .nav {
    gap: 30px;
  }
}